@tailwind base;
@tailwind components;
@tailwind utilities;

.selectable-text.select {
  border-left: 5px solid #5e72ed;
  color: #fff;
}

.dark:select {
  color: black !important;
}

.selectable-text.notselect {
  border-left: 5px solid #4f5872;
}
